version: "3.8"

services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate && gunicorn project.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/srv/elnavidad
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
      